.icon-arrow-right-white {
  background-image: url(../../img/sprite.png);
  background-position: -262px -82px;
  width: 7px;
  height: 12px; }

.icon-calendar {
  background-image: url(../../img/sprite.png);
  background-position: -65px -73px;
  width: 69px;
  height: 56px; }

.icon-cash {
  background-image: url(../../img/sprite.png);
  background-position: -78px 0px;
  width: 86px;
  height: 57px; }

.icon-check {
  background-image: url(../../img/sprite.png);
  background-position: -245px -82px;
  width: 17px;
  height: 13px; }

.icon-clip {
  background-image: url(../../img/sprite.png);
  background-position: -134px -73px;
  width: 22px;
  height: 22px; }

.icon-cryptocurrency {
  background-image: url(../../img/sprite.png);
  background-position: -164px 0px;
  width: 57px;
  height: 59px; }

.icon-director {
  background-image: url(../../img/sprite.png);
  background-position: 0px -138px;
  width: 57px;
  height: 57px; }

.icon-dollars {
  background-image: url(../../img/sprite.png);
  background-position: 0px 0px;
  width: 78px;
  height: 73px; }

.icon-dots-color {
  background-image: url(../../img/sprite.png);
  background-position: -221px -126px;
  width: 39px;
  height: 21px; }

.icon-dots-white {
  background-image: url(../../img/sprite.png);
  background-position: -221px -147px;
  width: 39px;
  height: 21px; }

.icon-facebok {
  background-image: url(../../img/sprite.png);
  background-position: -260px -147px;
  width: 6px;
  height: 13px; }

.icon-goal {
  background-image: url(../../img/sprite.png);
  background-position: -57px -138px;
  width: 57px;
  height: 57px; }

.icon-instagram {
  background-image: url(../../img/sprite.png);
  background-position: -260px -126px;
  width: 13px;
  height: 13px; }

.icon-lock {
  background-image: url(../../img/sprite.png);
  background-position: -164px -59px;
  width: 55px;
  height: 61px; }

.icon-mail-gradient {
  background-image: url(../../img/sprite.png);
  background-position: -221px -168px;
  width: 29px;
  height: 21px; }

.icon-mouse {
  background-image: url(../../img/sprite.png);
  background-position: -221px -59px;
  width: 24px;
  height: 38px; }

.icon-percent {
  background-image: url(../../img/sprite.png);
  background-position: -221px 0px;
  width: 52px;
  height: 59px; }

.icon-persona {
  background-image: url(../../img/sprite.png);
  background-position: 0px -73px;
  width: 65px;
  height: 65px; }

.icon-phone {
  background-image: url(../../img/sprite.png);
  background-position: -250px -168px;
  width: 20px;
  height: 20px; }

.icon-placeholder-gradient {
  background-image: url(../../img/sprite.png);
  background-position: -134px -95px;
  width: 17px;
  height: 24px; }

.icon-plane-gradient {
  background-image: url(../../img/sprite.png);
  background-position: -245px -59px;
  width: 24px;
  height: 23px; }

.icon-plane {
  background-image: url(../../img/sprite.png);
  background-position: -114px -138px;
  width: 20px;
  height: 20px; }

.icon-twitter {
  background-image: url(../../img/sprite.png);
  background-position: -164px -120px;
  width: 15px;
  height: 12px; }

.icon-user-gradient {
  background-image: url(../../img/sprite.png);
  background-position: -221px -97px;
  width: 29px;
  height: 29px; }

.icon-user {
  background-image: url(../../img/sprite.png);
  background-position: -250px -97px;
  width: 20px;
  height: 25px; }
